{
  "env": {
    "test": {
      "presets": ["env", "stage-1"]
    },
    "development": {
      "presets": [["env", {"modules": false}], "stage-1"],
      "plugins": ["external-helpers"]
    }
  }
}
