{
  "env": {
    "test": {
      "presets": [["@babel/preset-env", {"loose": true}]]
    },
    "development": {
      "presets": [["@babel/preset-env", {"loose": true, "modules": false}]]
    }
  }
}
