.can-drop, .example-box.can-drop {
  background-color: lightgreen;
}

.can-drop.shallow-hover {
  outline: 3px solid green;
}

.can-not-drop, .example-box.can-not-drop {
  background-color: lightgrey;
}