.floats-container {
  overflow: hidden;
  width: 100%;
}

.float-left, .float-right {
  margin: 0.2rem;
  border: 1px dashed grey;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}