table.table-container {
  width: 100%;
  background-color: white;
  border-spacing: 0;
}

table.table-container tr th {
  border-bottom: 2px solid #555;
}

table.table-container tr td {
  border-bottom: 1px solid #555;
}

table.table-container tr th,
table.table-container tr td {
  text-align: left;
  padding: 0.5rem;
}

table.table-container tr.dragging td {
  background-color: lightgrey;
  color: lightgrey;
}

table.table-container tr td .handler {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #333;
  cursor: pointer;
}

table.table-container tr.reorderable-repeat-dragging-me {
  visibility: visible;
}

table.table-container tr.reorderable-repeat-dragging-me td {
  background-color: lightgrey;
  color: transparent;
}

table.table-container tr.reorderable-repeat-dragging-me td .handler {
  visibility: hidden;
}