html, body {
  height :100%;
  font-family: Helvetica, Arial;
}

body {
  position: relative;
  min-width: 750px;
}

.doc-navigation {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eee;
  padding: 5px;
}

.doc-navigation .title {
  font-weight: bold;
  margin-top: 10px;
}

.doc-navigation a.remote-link,
.doc-navigation a.remote-link:visited {
  display: block;
  text-decoration: none;
  color: black;
  padding: 2px;
  padding-left: 10px;
  font-size: 0.7rem;
  margin: 4px 0;
}


a.link {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
}

a.link, a.link:visited {
  display: block;
  color: black;
  padding: 4px 5px 4px 10px;
  margin: 8px 0;
}

.doc-navigation a.remote-link:hover,
a.link:hover {
  text-decoration: underline;
}

a.link.active {
  background-color: #555;
  color: white;
}

.doc-content {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.doc-demo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
}

.doc-source-code {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #eee;
  box-sizing: border-box;
}

.doc-source-code select {
  margin: 5px 0 0 5px;
}

.doc-source-code display-source,
.inline-demo-source-code display-source {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

display-sources.full-screen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

display-source pre {
  font-size: 0.9rem;
}

button.btn {
  font-size: 0.9rem;
}

table.table-align-top td {
  vertical-align: top;
}

mark-down {
  line-height: 1.5;
}

mark-down blockquote {
  margin: 0;
  padding: 0;
}

mark-down blockquote p {
  border-left: 0.5rem solid #aaa;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  color: #555;
  background-color: #eee;
}

mark-down code, mark-down pre {
  background-color: #eee;
  border-radius: 2px;
}

mark-down blockquote code {
  background-color: white;
}

mark-down pre {
  font-size: 0.8rem;
  padding: 1rem;
}

.inline-demo {
  box-shadow: 0 0 12px lightgrey;
  overflow: hidden;
  position: relative;
}

.inline-demo-app {
  width: auto;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.inline-demo-source-code {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px;
  border-left: 10px solid #eee;
}

.inline-demo-source-code.inline-demo-source-code-for-reorder {
  left: 430px;
}

