.list-item {
  display: block;
  box-sizing: border-box;
  border: 1px solid #333;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  background: white;
}

.list-item.dragging {
  border: none;
  background-color: lightgrey;
}